<p>home</p>
<!-- https://www.youtube.com/watch?v=kKtrHrciIVs&ab_channel=WebTechTalk -->

<!-- <app-lifecycle [message]="message" (messageEven)="receiveMessage($event)"></app-lifecycle> -->

<!-- message: {{message}} -->



<button (click)="toggleChild()">Toggle Child</button>

<input type="text" [(ngModel)]="channelName">


<app-lifecycle *ngIf="isChild"></app-lifecycle>














<div class="container">
    <h1>Bootstrap Button designs</h1>
  </div>
  <div class="wrapper">
    <h2>Button Colors</h2>
    <div class="clr"></div>
    <div class="row">
    <a href="admin/home" class="btn btn-primary">Read More</a>
    <a href="admin/home" class="btn btn-info">Read More</a>
    <a href="admin/home" class="btn btn-success">Read More</a>
    <a href="admin/home" class="btn btn-warning">Read More</a>
    <a href="admin/home" class="btn btn-danger">Read More</a>
    <a href="admin/home" class="btn btn-inverse">Read More</a>
    </div>
    <div class="clr"></div>
    <h2>Button Sizes</h2>
    <div class="clr"></div>
    <div class="row">
    <a href="admin/home" class="btn btn-large">Read More</a>
    <a href="admin/home" class="btn">Read More</a>
    <a href="admin/home" class="btn btn-small">Read More</a>
    <a href="admin/home" class="btn btn-mini">Read More</a>
    </div>
  </div>
  