<p>basic-form works!</p>

<!-- https://www.youtube.com/watch?v=LiT7Vp8eSdg&list=PL7JmcZV0UQtU1krT1x_e9_Hm7RM26fk5S&index=13 -->

{{name}} <br>
{{fullName}} <br>
{{lastName}}

<table>
    <thead>
        <th>{{name}}</th> &nbsp;
        <th>{{fullName}}</th> &nbsp;
        <th>{{lastName}}</th>
        <th>{{array.name}}</th>
        <th>{{currentDate}}</th>
    </thead>
</table>

<input type="text" [minLength]="minLength" name="name" id="name">
<br>
<button (click)="increment()">+</button>
<p>{{roleNo}}</p>
<button (click)="decrement()">-</button>