<div class="my-container">

    <div class="login-field">
  
      <div class="content">
        <div class="login-img">
          <img src="https://i.pinimg.com/originals/86/90/14/869014ea87e157354d2326a5961b20e0.png">
        </div>
        <div class="text text-center mt-2">Forgot Password</div>
        <p>Please enter your registered email where we will send you the reset password link</p>
        <div class="form-field">
          <form>
            <div class="field">
              <span class="fas fa-envelope"></span>
              <input type="text" placeholder="Email Id">
            </div>
            
  
            <button>Reset Password Link</button>
            <p class="back text-center" routerLink="../login">Back to Login</p>
            
            
          </form>
        </div>
      </div>
    </div>
  </div>