/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

.my-container{
    background-color: #dde1e7;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 }



.login-field{
position: absolute;
  
}

.content{
   
  width: 400px;
  background: #dde1e7;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: -3px -3px 7px #ffffff73,
              2px 2px 5px rgba(94, 104, 121, 0.288);
}

.content img{
  width: 90px;
  height: 90px;
  margin-top: -100px;
  border-radius: 50px;
  box-shadow: 0px 0px 2px #5f5f5f,
  0px 0px 0px 5px #ecf0f3,
  8px 8px 15px #a7aaaf,
  -8px -8px 15px #ffffff;
}

.login-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #000;
}

.content .field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #595959;
  background: #dde1e7;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}

.field input:focus ~ label{
  box-shadow: inset 2px 2px 5px #babecc,
              inset -1px -1px 2px #ffffff73;
}

.field:nth-child(2){
  margin-top: 20px;
}

.field span{
    margin-left: 15px;
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: #595959;
}

.field label{
  position: absolute;
  top: 50%;
  left: 45px;
  pointer-events: none;
  color: #666666;
  transform: translateY(-50%);
}


.field input:focus ~ label{
  opacity: 0;
}
 
/*   
button{
  margin: 25px 0 0 0;
  width: 100%;
  height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  background: #dde1e7;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
}

button:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
} */


.login-btn{
  width: 100%;
  height: 50px;
border-radius: 25px;
border: none;
  outline: none;
background: #e0e5ec;
display: flex;
margin-top: 5px;
flex-direction: column;
justify-content: center;
align-items: center;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
box-shadow: -7px -7px 20px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0001,
            4px 4px 5px 0px #0001,
            inset 0px 0px 0px 0px #fff9,
            inset 0px 0px 0px 0px #0001,
            inset 0px 0px 0px 0px #fff9,
            inset 0px 0px 0px 0px #0001 ;

transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
font-size: 16px;
color: rgba(42,52,84,1);
text-decoration: none; 
}  

/* active button */

.login-btn:active{
box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
            -4px -4px 6px 0px rgba(116,125,136,0.2),
            inset -4px -4px 6px 0px rgba(255,255,255,0.5),
            inset 4px 4px 6px 0px rgba(116,125,136,0.3);
}


.content .or{
  color: black;
  margin-top: 9px;
}
 
.icon-button{
  margin-top: 15px;
}
.icon-button span{
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 6px;
  padding-bottom: 6px;
   
 border-radius: 5px;
  line-height: 30px;
  
  background: #dde1e7;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
}
.icon-button span.facebook{
  margin-right: 17px;

}
.icon-button span:hover{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}







.createbtn{
  display: flex;
}
.createbtn a{
  margin: 10px 10px;
}

.btn{
height: 25px;
width: 150px;
border-radius: 3px;
background: #e0e5ec;
display: flex;
margin-top: 5px;
flex-direction: column;
justify-content: center;
align-items: center;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
box-shadow: -7px -7px 20px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0001,
            4px 4px 5px 0px #0001,
            inset 0px 0px 0px 0px #fff9,
            inset 0px 0px 0px 0px #0001,
            inset 0px 0px 0px 0px #fff9,
            inset 0px 0px 0px 0px #0001 ;

transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
font-size: 16px;
color: rgba(42,52,84,1);
text-decoration: none; 
}  

/* active button */

.btn:active{
box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
            -4px -4px 6px 0px rgba(116,125,136,0.2),
            inset -4px -4px 6px 0px rgba(255,255,255,0.5),
            inset 4px 4px 6px 0px rgba(116,125,136,0.3);
}