<div class="footer">
    <div class="body">
      <div class="container">
        <div class="row">
  
          <div class="col-md-4">
            <div class="container">
              <div class="card mt-2 neu-1">
                <div class="card-body">
                  <h4>Lorem ipsum dolor.</h4>
                  <p class="card-text">With supporting text below.</p>
                  <div class="social-icon2">
                    <div class="social-icon">
                      <a routerLink="" class="btn">
                        <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                      </a>
                      <p>Facebook</p>
                      <a routerLink="" class="btn">
                        <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                      </a>
                      <p>Facebook</p>
                      <a routerLink="" class="btn">
                        <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                      </a>
                      <p>Facebook</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="col-md-4">
            <div class="container">
              <div class="card mt-2 neu-1">
                <div class="card-body">
                  <h4>Lorem ipsum dolor.</h4>
                  <p class="card-text">With supporting text below.</p>
                  <div class="social-icon2">
                    <div class="social-icon-content">
                      <a routerLink="" class="btn">
                        <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                      </a>
                      <p>Facebook</p>
                    </div>
                    <div class="social-icon-content">
                      <a routerLink="" class="btn">
                        <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                      </a>
                      <p>Facebook</p>
                    </div>
                    <div class="social-icon-content">
                      <a routerLink="" class="btn">
                        <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                      </a>
                      <p>Facebook</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="container">
              <div class="card mt-2 neu-1">
                <div class="card-body">
                  <h4>Lorem ipsum dolor.</h4>
                  <p class="card-text">With supporting text below.</p>
                  <div class="social-icon">
                    <a routerLink="" class="btn">
                      <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                    </a>
                    <a routerLink="" class="btn">
                      <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                    </a>
                    <a routerLink="" class="btn">
                      <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                    </a>
                    <a routerLink="" class="btn">
                      <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                    </a>
                    <a routerLink="" class="btn">
                      <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>