.header {
    /* position:relative; */
    /* bottom:0; */
    width: 100%;
    padding: 0;
    height:50px;  /* Height of the footer (content beshi hole footer er height barate hobe*/
    /* background:#6cf; */
 }


 .body{
    display: flex;
    align-items: center;
    width: 100%;
    height:50px;   /* Height of the footer (content beshi hole footer er height barate hobe*/
    background: #d3d9e0;
}

.brand{
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: #e0e5ec;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    box-shadow: -7px -7px 20px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0001,
                4px 4px 5px 0px #0003,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001 ;

transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
font-size: 16px;
color: rgba(42,52,84,1);
text-decoration: none; 
}

.brand:active{
    box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
                -4px -4px 6px 0px rgba(116,125,136,0.2),
                inset -4px -4px 6px 0px rgba(255,255,255,0.5),
                inset 4px 4px 6px 0px rgba(116,125,136,0.3);
}
.brand span{
    margin-left: 10px;
}

.custome-drop{
    background: #d3d9e0;
    /* width: 100%; */
    padding: 10px;
    /* margin: 10px; */
}
.custom-drop li a{
    max-width: 100%;
}
.drop-btn{
    /* height: 25px; */
    /* max-width: 100%; */
    margin: 10px;

    padding: 0;
    border-radius: 3px;
    background: #e0e5ec;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    box-shadow: -7px -7px 20px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0001,
                4px 4px 5px 0px #0003,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001 ;

transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
font-size: 16px;
color: rgba(42,52,84,1);
text-decoration: none;
}

.drop-btn:active{
    box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
                -4px -4px 6px 0px rgba(116,125,136,0.2),
                inset -4px -4px 6px 0px rgba(255,255,255,0.5),
                inset 4px 4px 6px 0px rgba(116,125,136,0.3);
}


.btn p{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px
}
/* .social-icon a{
    margin: 10px;
} */
/* .social-icon2 a{
    margin: 5px;
} */



.btn{
    height: 35px;
    width: 85px;
    border-radius: 3px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    box-shadow: -7px -7px 20px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0001,
                4px 4px 5px 0px #0003,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001 ;

transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
font-size: 16px;
color: rgba(42,52,84,1);
text-decoration: none; 
}  

/* active button */

.btn:active{
    box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
                -4px -4px 6px 0px rgba(116,125,136,0.2),
                inset -4px -4px 6px 0px rgba(255,255,255,0.5),
                inset 4px 4px 6px 0px rgba(116,125,136,0.3);
}