<nav class="navbar navbar-expand-md header">
  <div class="body">
  <div class="container">
    <a routerLink="" class="navbar-brand brand">
      <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
      <span>Navbar</span>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item nav-btn active">
        <a class="nav-link btn" routerLink="home">Home</a>
      </li>

      <div class="dropdown">
        <button class="btn nav-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
          Tutorial
        </button>
        <div class="dropdown-menu custome-drop" aria-labelledby="dropdownMenuButton">
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="lifecycle">Lifecycle Hook</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="comp-interaction">component interaction</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="data-binding">data binding</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="directives">directives</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="forms-validation">forms validation</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="pipes">pipes</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="routing">routing</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="services-http">services http</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="route-guards">route guards</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="reactive-forms">reactive-forms</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="rxjs-basic">rxjs-basic</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="modules">modules</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="dependency-injection">dependency injection</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="dynamic-components">dynamic components</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="statemanagement-ngrx">statemanagement ngrx</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="customdirectives-pipes">customdirectives pipes</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="testing">testing</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="moduleslazy-loading">moduleslazy loading</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="advancedrxjs">advancedrxjs</a>
          </li>
          <li class="nav-item dropdown-bg">
            <a class="nav-link drop-btn" routerLink="view-encapsulation">view-encapsulation</a>
          </li>
      </div>
      </div>
      
      <li class="nav-item nav-btn">
          <a class="nav-link btn" routerLink="services">Services</a>
        </li>
        <li class="nav-item nav-btn">
          <a class="nav-link btn" routerLink="about">About</a>
        </li>
        <li class="nav-item nav-btn">
          <a class="nav-link btn" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item nav-btn">
          <button class="btn btn-primary nav-link" >Logout</button>
        </li>
       
    </ul>
  </div>
  </div>
</div>
</nav>